.eye-icon{
    background: url(../../../../assets/svg/eye.svg) no-repeat center 90%;
    width: 22px;
    height: 20px;
    position: absolute;
    right: 0;
    z-index: 99;
    cursor: pointer;
    opacity: .7;
  }
  .forgot-password{
    cursor: pointer;
    color: black;
    margin-top: -31px;
    display: block;
    text-decoration: underline;
  }