<section class="apply">
    <!-- <div class="static-banner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title">Apply</div>
                    <div class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                        took a galley of type and scrambled it to make a type specimen book.</div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="content">
        <div class="container">
            <div class="row my-5">
                <div class="col-12">
                    <mat-horizontal-stepper #stepper style="margin-left: -24px; margin-right: -24px;">
                        <mat-step [stepControl]="rtidetails">
                            <form [formGroup]="rtidetails">
                                <ng-template matStepLabel>RTI Details</ng-template>
                                <h2>RTI Details</h2>
                                <div class="choose-service">
                                    <div class="row mt-4">
                                        <div class="col-12">
                                            <!-- <button mat-flat-button color="primary" matStepperNext (click)="onChangeCategory(1)">Personal RTI</button>
                                            <button mat-flat-button color="primary" matStepperNext (click)="onChangeCategory(2)">Social RTI</button>
                                            <button mat-flat-button color="primary" matStepperNext (click)="onChangeCategory(3)">Other RTI</button> -->
                                            <!-- <mat-radio-group aria-label="Select an option"
                                                (change)="onChangeCategory($event)">
                                                <mat-radio-button value="1" class="mr-5">Personal RTI</mat-radio-button>
                                                <mat-radio-button value="2" class="mr-5">Social RTI</mat-radio-button>
                                                <mat-radio-button value="3">Other RTI</mat-radio-button>
                                            </mat-radio-group> -->
                                        </div>
                                        <div class="col-4 text-center pr-0 pr-md-3">
                                            <div class="service-category" routerLink="personal"
                                                routerLinkActive="active">
                                                <div class="img-wrapper" (click)="categoryChange(1, 'personal')">
                                                    <div class="icon personal"></div>
                                                    <span>Personal RTI</span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-4 text-center">
                                            <div class="service-category" routerLink="social" routerLinkActive="active">
                                                <div class="img-wrapper" (click)="categoryChange(2, 'social')">
                                                    <div class="icon social"></div>
                                                    <span>Social RTI</span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-4 text-center pl-0 pl-md-3">
                                            <div class="service-category" routerLink="other/other" routerLinkActive="active">
                                                <div class="img-wrapper" (click)="categoryChange(3, 'other')">
                                                    <div class="icon other"></div>
                                                    <span>Other RTI</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-12">
                                            <mat-radio-group aria-label="Select an option"
                                                (change)="onChangeService($event)" class="row"
                                                *ngIf="displayCategoryItems == 1">
                                                <mat-radio-button value="{{service.link}}" class="col-6 col-md-3 col-lg-2"
                                                    *ngFor="let service of personalServices"
                                                    routerLink="personal/{{service.link}}" routerLinkActive="active">
                                                    <img *ngFor="let icon of service.icon"
                                                        src="https://app.onlinerti.co{{icon.url}}" alt=""
                                                        style="display: block; text-align: center; margin: 0 auto 15px;">
                                                    {{service.option}}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                            <mat-radio-group aria-label="Select an option"
                                                (change)="onChangeService($event)" class="row"
                                                *ngIf="displayCategoryItems == 2">
                                                <mat-radio-button value="{{service.link}}" class="col-6 col-md-3 col-lg-2"
                                                    *ngFor="let service of socialServices"
                                                    routerLink="social/{{service.link}}" routerLinkActive="active">
                                                    <img *ngFor="let icon of service.icon"
                                                        src="https://app.onlinerti.co{{icon.url}}" alt=""
                                                        style="display: block; text-align: center; margin: 0 auto 15px;">
                                                    {{service.option}}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                            <!-- <mat-radio-group aria-label="Select an option"
                                                (change)="onChangeService($event)" class="row"
                                                *ngIf="displayCategoryItems == 3">
                                                <mat-radio-button value="{{service.link}}" class="col-6 col-md-3 col-lg-2"
                                                    *ngFor="let service of otherServices"
                                                    routerLink="other/{{service.link}}" routerLinkActive="active">
                                                    <img *ngFor="let icon of service.icon"
                                                        src="http://onlinerti.co:1337{{icon.url}}" alt=""
                                                        style="display: block; text-align: center; margin: 0 auto 15px;">
                                                    {{service.option}}
                                                </mat-radio-button>
                                            </mat-radio-group> -->
                                            <!-- <div class="services-list-wrapper">
                                                <div class="services-list-items" *ngFor="let service of finalServices">{{service.option}}</div>
                                            </div> -->
                                            <!-- <mat-form-field class="example-full-width" appearance="fill">
                                                <mat-label>Select Service</mat-label>
                                                <mat-select [formControl]="selectControl"
                                                    (selectionChange)="onChangeService($event)"
                                                    [(ngModel)]="selectedValue" ngDefaultControl
                                                    formControlName="serviceType">
                                                    <mat-option *ngFor="let service of finalServices"
                                                        [value]="service.link">{{service.option}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field> -->

                                        </div>
                                    </div>
                                </div>
                                <div class="selected-service-form" id="scollTo">
                                    <router-outlet></router-outlet>
                                </div>
                                <div class="upload-files mb-4" *ngIf="serviceDisplay()">
                                    <fieldset>
                                        <legend>Upload Files <small>(Optional)</small></legend>
                                        <div class="row">
                                            <div class="col-12">
                                                <input type="file" name="files" id="files" (change)="onFileSelect($event)" multiple class="mr-4">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <!-- <h3 class="mt-3">Upload Files <small>(Optional)</small></h3>
                                    <div class="row">
                                        <div class="col-12">
                                            <input type="file" name="files" id="files" multiple>
                                            <button type="button" class="btn btn-primary">Upload</button>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <button mat-flat-button color="primary" matStepperNext (click)="onSubmitRti()"
                                            [disabled]="!status">Next</button>
                                    </div>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step [stepControl]="personalDetailsForm" label="Personal Details">
                            <h2>Personal Details</h2>
                            <form [formGroup]="personalDetailsForm">
                                <div class="row mt-4">
                                    <div class="col-md-3 col-12">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Full name</mat-label>
                                            <input matInput [(ngModel)]="fullname" ngDefaultControl
                                                formControlName="fullname">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Mobile</mat-label>
                                            <input matInput type="tel" [(ngModel)]="mobile" ngDefaultControl
                                                formControlName="mobile" maxlength="10">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Email</mat-label>
                                            <input matInput type="email" [(ngModel)]="email" ngDefaultControl
                                                formControlName="email" [readonly]="loggedIn ? 'true' : null">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>State</mat-label>
                                            <input matInput type="text" [(ngModel)]="state" formControlName="state"
                                                ngDefaultControl>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>City</mat-label>
                                            <input matInput type="text" [(ngModel)]="city" formControlName="city"
                                                ngDefaultControl>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Pincode</mat-label>
                                            <input matInput type="text" [(ngModel)]="pincode" formControlName="pincode"
                                                ngDefaultControl maxlength="6">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Address</mat-label>
                                            <textarea matInput style="resize: none;" [(ngModel)]="address"
                                                formControlName="address" ngDefaultControl></textarea>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-3 col-12"></div>
                                </div>

                                <div class="row">
                                    <div class="col-12 text-right">
                                        <!-- <button mat-flat-button color="secondary" matStepperPrevious
                                            class="mr-3">Back</button> -->
                                        <button mat-flat-button color="primary" matStepperNext
                                            (click)="onSubmitPersonalDetails()"
                                            [disabled]="this.personalDetailsForm.invalid">Next</button>
                                    </div>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>Summary and Payment</ng-template>
                            <h2>Summary and Payment</h2>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="service-type-details" *ngIf="rtiData">
                                        <h4 class="text-nowrap "><u>RTI details</u></h4>
                                        <div class="field-group" *ngFor="let item of rtiData | keyvalue">
                                            <div class="field-name">{{item.key | splitCamelcase | titlecase}}
                                            </div>
                                            <div class="field-desc">{{item.value}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="personal-details">
                                        <h4 class="text-nowrap"><u>Personal Details</u></h4>
                                        <div class="field-group">
                                            <div class="field-name">Full Name</div>
                                            <div class="field-desc">{{fullname}}</div>
                                        </div>
                                        <div class="field-group">
                                            <div class="field-name">Mobile</div>
                                            <div class="field-desc">{{mobile}}</div>
                                        </div>
                                        <div class="field-group">
                                            <div class="field-name">Email</div>
                                            <div class="field-desc">{{email}}</div>
                                        </div>
                                        <div class="field-group">
                                            <div class="field-name">State</div>
                                            <div class="field-desc">{{state}}</div>
                                        </div>
                                        <div class="field-group">
                                            <div class="field-name">City</div>
                                            <div class="field-desc">{{city}}</div>
                                        </div>
                                        <div class="field-group">
                                            <div class="field-name">Pincode</div>
                                            <div class="field-desc">{{pincode}}</div>
                                        </div>
                                        <div class="field-group">
                                            <div class="field-name">Address</div>
                                            <div class="field-desc">{{address}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12">
                                    <div class="pricing">
                                        <h4><u>Pricing</u></h4>
                                        <div class="row">
                                            <div class="col-8">
                                                <mat-radio-group aria-label="Select an option"
                                                    [(ngModel)]="selectedPlan" name="radio" required>
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Plan</td>
                                                                    <td align="middle">Basic</td>
                                                                    <!-- <td align="middle">Standard</td>
                                                                    <td align="middle">Premium</td> -->
                                                                </tr>
                                                                <tr>
                                                                    <td>Postal Charges
                                                                        <div class="float-right">
                                                                            <span>&#8377;49</span>
                                                                            <!-- <mat-icon [ngStyle]="{'color':'#3d66b0'}">
                                                                                contact_support</mat-icon> -->
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <mat-icon [ngStyle]="{'color':'#3db04b'}">done
                                                                        </mat-icon>
                                                                    </td>
                                                                    <!-- <td class="text-center">
                                                                        <mat-icon [ngStyle]="{'color':'#3db04b'}">done
                                                                        </mat-icon>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <mat-icon [ngStyle]="{'color':'#3db04b'}">done
                                                                        </mat-icon>
                                                                    </td> -->
                                                                </tr>
                                                                <tr>
                                                                    <td>Processing Charges
                                                                        <div class="float-right">
                                                                            <span>&#8377;150</span>
                                                                            <!-- <mat-icon [ngStyle]="{'color':'#3d66b0'}">
                                                                                contact_support</mat-icon> -->
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <mat-icon [ngStyle]="{'color':'#3db04b'}">done
                                                                        </mat-icon>
                                                                    </td>
                                                                    <!-- <td class="text-center">
                                                                        <mat-icon [ngStyle]="{'color':'#3db04b'}">done
                                                                        </mat-icon>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <mat-icon [ngStyle]="{'color':'#3db04b'}">done
                                                                        </mat-icon>
                                                                    </td> -->
                                                                </tr>
                                                                <tr>
                                                                    <td>RTI Drafting Charges
                                                                        <div class="float-right">
                                                                            <span>&#8377;100</span>
                                                                            <!-- <mat-icon [ngStyle]="{'color':'#3d66b0'}">
                                                                                contact_support</mat-icon> -->
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <mat-icon [ngStyle]="{'color':'#d20b0b'}">clear
                                                                        </mat-icon>
                                                                    </td>
                                                                    <!-- <td class="text-center">
                                                                        <mat-icon [ngStyle]="{'color':'#3db04b'}">done
                                                                        </mat-icon>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <mat-icon [ngStyle]="{'color':'#3db04b'}">done
                                                                        </mat-icon>
                                                                    </td> -->
                                                                </tr>
                                                                <tr>
                                                                    <td>Phone from RTI Expert
                                                                        <div class="float-right">
                                                                            <span>&#8377;200</span>
                                                                            <!-- <mat-icon [ngStyle]="{'color':'#3d66b0'}">
                                                                                contact_support</mat-icon> -->
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <mat-icon [ngStyle]="{'color':'#d20b0b'}">clear
                                                                        </mat-icon>
                                                                    </td>
                                                                    <!-- <td class="text-center">
                                                                        <mat-icon [ngStyle]="{'color':'#d20b0b'}">clear
                                                                        </mat-icon>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <mat-icon [ngStyle]="{'color':'#3db04b'}">done
                                                                        </mat-icon>
                                                                    </td> -->
                                                                </tr>
                                                                <tr>
                                                                    <td>Choose your plan</td>
                                                                    <td class="radio-btn">
                                                                        <mat-radio-button value="&#8377;239.52">
                                                                            &#8377;199
                                                                        </mat-radio-button>
                                                                    </td>
                                                                    <!-- <td class="radio-btn">
                                                                        <mat-radio-button value="Standard &#8377;299">
                                                                            &#8377;299
                                                                        </mat-radio-button>
                                                                    </td>
                                                                    <td class="radio-btn">
                                                                        <mat-radio-button value="Premium &#8377;499">
                                                                            &#8377;499
                                                                        </mat-radio-button>
                                                                    </td> -->
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </mat-radio-group>
                                            </div>
                                            <div class="col-4">
                                                <table class="table table-bordered" *ngIf="selectedPlan">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="2">
                                                                <h3>Payment Details</h3>
                                                            </td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Plan</td>
                                                            <td class="text-right">&#8377;199</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Service Charge</td>
                                                            <td class="text-right">&#8377;3.98</td>
                                                        </tr>
                                                        <tr>
                                                            <td>GST</td>
                                                            <td class="text-right">&#8377;36.54</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total</td>
                                                            <td class="text-right">{{selectedPlan}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                            <div class="col-12 text-right">
                                                <div class="selected-plan" *ngIf="selectedPlan">
                                                    <strong>Selected Plan: </strong> {{selectedPlan}}
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 text-right">
                                    <!-- <button mat-flat-button color="secondary" matStepperPrevious
                                        class="mr-3">Back</button> -->
                                    <button mat-flat-button color="primary" (click)="onSubmitApplyForm()"
                                        [disabled]="!selectedPlan">Proceed to Payment</button>
                                </div>
                            </div>
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>
                <!-- <div class="col-12 mt-4">
                    <h3>Fed up with the corruption and slow Govt. work ?</h3>
                    <ul>
                        <li>Going all the way to a post office or finding someone to file an RTI for you could be a tedious and expensive task. Corruption and fraudulent is common in many organizations, but you have the power to file an RTI Online from your home.<br/><br/></li>
                        <li>Most of the people believe that filing an online RTI is an expensive task. That’s not the case with us! We are an independent entity and our sole aim is to provide you a platform to get answers to your queries. If nobody is hearing you out, we will ensure that the Government listens to your voice and what you wish to say.</li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</section>