.mat-expansion-panel-header,
.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background: #095cf2;
  border-radius: 0;
}

.mat-expansion-panel-header[aria-disabled=true],
.mat-expansion-panel-header[aria-disabled=true] .mat-expansion-panel-header-description .mat-icon {
  color: rgba(0, 0, 0, .26);
  background: rgba(9, 92, 242, .26);
}

.mat-expansion-panel-header-title {
  color: white;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  font-size: 22px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.mat-icon {
  color: white;
}

.apply {
  .static-banner {
    background: #709dbc url(../../../../assets/images/online-apply2.jpg) center right no-repeat;
    min-height: 260px;
    padding: 20px 0;

  }

 

  .personal-details,
  .service-type-details,
  .pricing {
    h4 {
      font-size: 18px;
      margin-bottom: 1rem;
    }

    .field-group {
      width: 25%;
      display: inline-block;
      vertical-align: top;
      .field-name {
        font-weight: 500;
      }

      .field-desc {
        margin-bottom: 10px;
      }
    }

    .icon {
      max-width: 22px;
    }

    .mat-icon {
      vertical-align: middle;
    }
  }
}

// .service-container{
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     .service-type{
//         width: 160px;
//         text-align: center;
//         border: 1px solid #dfdbcf;
//         margin: 5px;
//         padding: 10px;
//         cursor: pointer;
//         &:hover{
//             background: rgba(61,102,176,0.45);
//         }
//         span{
//             display: block;
//             text-align: center;
//         }
//         img{ 
//             margin: 0 auto 10px;
//             max-width: 32px;
//             max-height: 32px;
//         }
//     }
// }


// .mat-expansion-panel-header-title {
//   color: rgb(61 102 176);
// }

.mat-expansion-panel-header-description {
  flex-grow: initial;
}

.payment-options {
  // background-color: #927275;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #8fb7ff;
  color: #8fb7ff;
}

.service-category {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 100%;
  // border-bottom: 2px solid transparent;
  // padding-bottom: 15px;
  &:hover, &.active{
    // border-bottom: 2px solid #095cf2;
    color: #095cf2;
  }

  .img-wrapper {
    border: 1px solid #000;
    padding: 15px;
    // display: none;
    margin: 0 auto;
    border-radius: 6px;

    img {
      width: 32px;
      display: inline-block;  
      margin-right: 15px;
    }
    .icon{
      display: inline-block;
      vertical-align: middle;
      width: 32px;
      height: 32px;
      margin-right: 15px;
      &.personal{
        background: url(../../../../assets/icons/personal-black.png);
        background-size: 32px;
      }
      &.social{
        background: url(../../../../assets/icons/social-black.png);
        background-size: 32px;
      }
      &.other{
        background: url(../../../../assets/icons/other-black.png);
        background-size: 32px;
      }
    }
  }

  span {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    margin-top: 5px;
    text-transform: uppercase;
    vertical-align: middle;
    color: black;
  }

  &:hover,&.active {
    .img-wrapper {
      border: 1px solid #095cf2;
      background: #095cf2;
      .icon{
        &.personal{
          background: url(../../../../assets/icons/personal-white.png);
          background-size: 32px;
        }
        &.social{
          background: url(../../../../assets/icons/social-white.png);
          background-size: 32px;
        }
        &.other{
          background: url(../../../../assets/icons/other-white.png);
          background-size: 32px;
        }
      }
    }
    span {
      color: white;
    }
  }
}
.upload-files{
  // background-color: red;
  // padding: 10px 20px;
  fieldset{
    border: 1px solid #bfbfbf;
    padding: 10px 20px;
    legend{
      width: auto;
      font-size: 22px;
      font-weight: 600;
    }
    input{
      // background: #f1f1f1;
      // padding: 10px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .mat-radio-button {
    display: block;
  }
  .service-category {
    .img-wrapper{
      img{
        margin-right: 0;
      }
      span{
        font-size: 16px;
      }
    }
  }
  .mat-radio-button~.mat-radio-button {
    margin-left: 0;
  }
}