<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white px-0">
            <a class="navbar-brand" routerLink="home">
                <img src="assets/images/onlineRTI.png" alt="" width="86">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav mr-auto"></div>
                <div class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav">
                        <!-- <li class="nav-item" routerLinkActive="active" (click)="ToggleNavBar()">
                            <a class="nav-link" routerLink="home">About RTI <span class="sr-only">(current)</span></a>
                        </li> -->
                        <li class="nav-item" routerLinkActive="active" (click)="ToggleNavBar()">
                            <a class="nav-link" routerLink="track-application">Application Status</a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" (click)="ToggleNavBar()">
                            <a class="nav-link" routerLink="pricing">Pricing</a>
                        </li>
                        <!-- <li class="nav-item" routerLinkActive="active" (click)="ToggleNavBar()">
                            <a class="nav-link" routerLink="team">Team</a>
                        </li> -->
                        <li class="nav-item" routerLinkActive="active" (click)="ToggleNavBar()">
                            <a class="nav-link" routerLink="apply">Apply Now</a>
                        </li>
                        <!-- <li class="nav-item" routerLinkActive="active" (click)="ToggleNavBar()">
                            <a class="nav-link" routerLink="forum">Forum</a>
                        </li> -->
                        <li class="nav-item" routerLinkActive="active" (click)="ToggleNavBar()" *ngIf="!logged">
                            <a class="nav-link login-link" routerLink="login">Login</a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" (click)="ToggleNavBar()" *ngIf="logged">
                            <a class="nav-link" routerLink="my-rti">My RTI</a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" (click)="ToggleNavBar()" *ngIf="logged">
                            <a class="nav-link" (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>