<section class="details py-5">
    <div class="container">
        <div class="row mb-3">
            <div class="col-12">
                <h3>Hello User,</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pb-3">
                <img src="assets/svg/left-arrow.svg" (click)="back()" width="52" alt="" style="cursor: pointer;">
            </div>
            <div class="col-12">
                <div class="flex-box">
                    <div class="flex-col">
                        <h3>Application</h3>
                        <span>Passport Delay</span>
                    </div>
                    <div class="flex-col">
                        <h3>Posted On</h3>
                        <span>Mar 04, 2021</span>
                    </div>
                    <div class="flex-col">
                        <h3>Updated On</h3>
                        <span>Mar 06, 2021</span>
                    </div>
                    <div class="flex-col">
                        <h3>Status</h3>
                        <span>In Progress</span>
                    </div>
                </div>
            </div>
            <div class="col-12 pt-5">
                <h3>Uploaded Documents</h3>
                <div class="row mt-3">
                    <div class="col-md-6 col-12">
                        <ul class="uploaded-docs">
                            <li><img src="assets/svg/download.svg" height="14" alt="" style="cursor: pointer;"> Passport-application-form.pdf</li>
                            <li><img src="assets/svg/download.svg" height="14" alt="" style="cursor: pointer;"> Passport-application-acknowledgement.pdf</li>
                            <li><img src="assets/svg/download.svg" height="14" alt="" style="cursor: pointer;"> Aadhar.pdf</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-12">
                        <h4>Upload Pending Docs</h4>
                        <div class="upload-doc">
                            <input type="file" name="" id="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>