.flex-box {
    display: flex;
    flex-wrap: wrap;
    .flex-col {
        flex: 0 25%;
        background: #fff;
        padding: 0 30px 0 0;
        margin-bottom: 20px;
    }
}
.uploaded-docs{
    li{
        margin-bottom: 10px;
        img{
            vertical-align: middle;
            display: inline-block;
        }
    }
}
@media (max-width: 600px){
    .flex-box{
        .flex-col {
            flex: 0 50%;
            margin-bottom: 30px;
        }
    }
}
