<section class="login-register py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Login</mat-card-title>
                    </mat-card-header>
                    <form class="banner-login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()" >
                        <mat-card-content>
                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field class="example-full-width">
                                        <input type="email" matInput placeholder="Email" formControlName="identifier"
                                            required>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <input [type]="fieldType ? 'text':'password'" matInput placeholder="Password"
                                            formControlName="password" required>
                                            <span (click)="togglePassword()" class="eye-icon"></span>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" *ngIf="error">
                                <div class="col-12">
                                    <div class="error-message">{{error}}</div>
                                </div>
                            </div>
                        </mat-card-content>
                        <div class="row">
                            <div class="col-12 text-right">
                                <span class="forgot-password" routerLink="/forgot-password">Forgot Password</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <a mat-button (click)="gotoRegister()" *ngIf="router.url === '/login'"><span>Don't have an account?</span>
                                    Register</a>
                            </div>
                            <div class="col-6 text-right">
                                <button mat-flat-button color="primary" type="submit"
                                    [disabled]="!loginForm.valid">Submit</button>
                            </div>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</section>