.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.service-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .service-type{
        width: 160px;
        text-align: center;
        border: 1px solid #dfdbcf;
        margin: 5px;
        padding: 10px;
        cursor: pointer;
        &:hover{
            background: rgba(61,102,176,0.45);
        }
        span{
            display: block;
            text-align: center;
        }
        img{ 
            margin: 0 auto 10px;
            max-width: 32px;
            max-height: 32px;
        }
    }
}
.personal-details, .service-type-details{
  h4{
    font-size: 18px;
  }
  .field-group{
    .field-name{
      font-weight: 500;
    }
    .field-desc{
      margin-bottom: 10px;
    }
  }
}
