<section class="apply py-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">Apply</div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <mat-accordion class="example-headers-align">
                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                RTI Details
                            </mat-panel-title>
                            <mat-panel-description>
                                Which service do you need?
                                <mat-icon>insert_drive_file</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="row">
                            <div class="col-12">
                                <!-- <div class="service-container">
                                    <div class="service-type">
                                        <img src="assets/uploads/passport.png" alt="">
                                        <span>Passport Delay</span>
                                    </div>
                                    <div class="service-type">
                                        <img src="assets/uploads/passport.png" alt="">
                                        <span>Passport Delay</span>
                                    </div>
                                    <div class="service-type">
                                        <img src="assets/uploads/passport.png" alt="">
                                        <span>Passport Delay</span>
                                    </div>
                                    <div class="service-type">
                                        <img src="assets/uploads/passport.png" alt="">
                                        <span>Passport Delay</span>
                                    </div>
                                    <div class="service-type">
                                        <img src="assets/uploads/passport.png" alt="">
                                        <span>Passport Delay</span>
                                    </div>
                                    <div class="service-type">
                                        <img src="assets/uploads/passport.png" alt="">
                                        <span>Passport Delay</span>
                                    </div>
                                    <div class="service-type">
                                        <img src="assets/uploads/passport.png" alt="">
                                        <span>Passport Delay</span>
                                    </div>
                                    <div class="service-type">
                                        <img src="assets/uploads/passport.png" alt="">
                                        <span>Passport Delay</span>
                                    </div>
                                    <div class="service-type">
                                        <img src="assets/uploads/passport.png" alt="">
                                        <span>Passport Delay</span>
                                    </div>
                                    <div class="service-type">
                                        <img src="assets/uploads/passport.png" alt="">
                                        <span>Passport Delay</span>
                                    </div>
                                    <div class="service-type">
                                        <img src="assets/uploads/passport.png" alt="">
                                        <span>Passport Delay</span>
                                    </div>
                                    <div class="service-type">
                                        <img src="assets/uploads/passport.png" alt="">
                                        <span>Passport Delay</span>
                                    </div>
                                </div> -->
                                <form class="example-container" [formGroup]="options"
                                    [style.fontSize.px]="getFontSize()">
                                    <div class="choose-service">
                                        <div class="row">
                                            <div class="col-3">
                                                <mat-form-field class="example-full-width" appearance="fill"
                                                    [color]="selectControl.value">
                                                    <mat-label>Service</mat-label>
                                                    <mat-select [formControl]="selectControl">
                                                        <mat-option value="passport-delay">Passport Delay</mat-option>
                                                        <mat-option value="it-returnd">Income Tax Refund</mat-option>
                                                        <mat-option value="marksheet-verification">Marksheet
                                                            Verification
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="selected-service-form">
                                        <div class="row">
                                            <div class="col-3">
                                                <mat-form-field class="example-full-width">
                                                    <input type="text" matInput placeholder="Pancard Number">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-3">
                                                <mat-form-field class="example-full-width">
                                                    <input type="text" matInput placeholder="Financial Year">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-3">
                                                <mat-form-field class="example-full-width">
                                                    <input type="text" matInput placeholder="Ward/Circle Number">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-3">
                                                <mat-form-field class="example-full-width">
                                                    <input type="text" matInput placeholder="Refund Amount">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-3">
                                                <mat-form-field class="example-full-width">
                                                    <input type="text" matInput
                                                        placeholder="Name of the District of IT Office">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-3">
                                                <mat-form-field class="example-full-width">
                                                    <input type="text" matInput placeholder="Date of application">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-6">
                                                <mat-form-field class="example-full-width">
                                                    <mat-label>More Information (optional)</mat-label>
                                                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <mat-action-row>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>

                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Personal Details
                            </mat-panel-title>
                            <mat-panel-description>
                                Type your name and age
                                <mat-icon>account_circle</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-3">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Full name</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Last name</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Mobile</mat-label>
                                    <input matInput type="tel">
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email">
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Address</mat-label>
                                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Pincode</mat-label>
                                    <input matInput type="tel">
                                </mat-form-field>
                            </div>
                            <div class="col-3"></div>
                        </div>




                        <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Summary and Payment
                            </mat-panel-title>
                            <mat-panel-description>
                                Review and proceed to payment
                                <mat-icon>payment</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="service-type-details">
                                            <h4 class="text-nowrap">My passport application details</h4>
                                            <div class="field-group">
                                                <div class="field-name">Name of the Applicant</div>
                                                <div class="field-desc">Raja Sekhar</div>
                                            </div>
                                            <div class="field-group">
                                                <div class="field-name">Passport Application Number</div>
                                                <div class="field-desc">980329580</div>
                                            </div>
                                            <div class="field-group">
                                                <div class="field-name">Passport Office</div>
                                                <div class="field-desc">1355 Market St, Suite 900
                                                    San Francisco, CA 94103
                                                    P: (123) 456-7890</div>
                                            </div>
                                            <div class="field-group">
                                                <div class="field-name">Application Submission Date</div>
                                                <div class="field-desc">12/02/2020</div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="personal-details">
                                            <h4 class="text-nowrap">Personal Details</h4>
                                            <div class="field-group">
                                                <div class="field-name">Full Name</div>
                                                <div class="field-desc">Raja Sekhar</div>
                                            </div>
                                            <div class="field-group">
                                                <div class="field-name">Mobile</div>
                                                <div class="field-desc">9849123456</div>
                                            </div>
                                            <div class="field-group">
                                                <div class="field-name">Email</div>
                                                <div class="field-desc">test@gmail.com</div>
                                            </div>
                                            <div class="field-group">
                                                <div class="field-name">Address</div>
                                                <div class="field-desc">1355 Market St, Suite 900
                                                    San Francisco, CA 94103</div>
                                            </div>
                                            <div class="field-group">
                                                <div class="field-name">Pincode</div>
                                                <div class="field-desc">941033</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="pricing">
                                    <h4>Pricing</h4>
                                    <div class="table">
                                        <mat-radio-group aria-label="Select an option">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td>Postal Charges
                                                            <div class="float-right">
                                                                <span>&#8377;49</span>
                                                                <mat-icon [ngStyle]="{'color':'#3d66b0'}">contact_support</mat-icon>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                                        </td>
                                                        <td class="text-center">
                                                            <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                                        </td>
                                                        <td class="text-center">
                                                            <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Processing Charges
                                                            <div class="float-right">
                                                                <span>&#8377;150</span>
                                                                <mat-icon [ngStyle]="{'color':'#3d66b0'}">contact_support</mat-icon>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                                        </td>
                                                        <td class="text-center">
                                                            <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                                        </td>
                                                        <td class="text-center">
                                                            <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>RTI Drafting Charges
                                                            <div class="float-right">
                                                                <span>&#8377;100</span>
                                                                <mat-icon [ngStyle]="{'color':'#3d66b0'}">contact_support</mat-icon>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <mat-icon [ngStyle]="{'color':'#d20b0b'}">clear</mat-icon>
                                                        </td>
                                                        <td class="text-center">
                                                            <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                                        </td>
                                                        <td class="text-center">
                                                            <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Phone from RTI Expert
                                                            <div class="float-right">
                                                                <span>&#8377;200</span>
                                                                <mat-icon [ngStyle]="{'color':'#3d66b0'}">contact_support</mat-icon>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <mat-icon [ngStyle]="{'color':'#d20b0b'}">clear</mat-icon>
                                                        </td>
                                                        <td class="text-center">
                                                            <mat-icon [ngStyle]="{'color':'#d20b0b'}">clear</mat-icon>
                                                        </td>
                                                        <td class="text-center">
                                                            <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Choose your option</td>
                                                        <td>
                                                            <mat-radio-button value="1">&#8377;199</mat-radio-button>
                                                        </td>
                                                        <td>
                                                            <mat-radio-button value="2">&#8377;299</mat-radio-button>
                                                        </td>
                                                        <td>
                                                            <mat-radio-button value="3">499</mat-radio-button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">Proceed to Payment</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                </mat-accordion>

            </div>
        </div>
    </div>
</section>