<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div class="page-title">What we do for you?</div>
            <div class="row">
                <div class="col-md-8 col-12">
                    <div class="row mt-5">
                        <div class="col-12">
                            <ul>
                                <li>
                                    <mat-icon color="primary">question_answer</mat-icon>
                                    <span>Qualified RTI Expert understands your problem and drafts your RTI</span>
                                </li>
                                <li>
                                    <mat-icon color="primary">question_answer</mat-icon>
                                    <span>We identify exact office and pay government fees using recommended mode of
                                        payment</span>
                                </li>
                                <li>
                                    <mat-icon color="primary">question_answer</mat-icon>
                                    <span>We send your RTI using speedpost/registeredpost/online options with all
                                        necessary
                                        attachments</span>
                                </li>
                                <li>
                                    <mat-icon color="primary">question_answer</mat-icon>
                                    <span>We send timely updates on the status of your RTI by SMS/Email</span>
                                </li>
                                <li>
                                    <mat-icon color="primary">question_answer</mat-icon>
                                    <span>Excellent Support is available to answer your application related
                                        questions</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Postal Charges
                                                <div class="float-right">
                                                    <span>&#8377;49</span>
                                                    <mat-icon [ngStyle]="{'color':'#3d66b0'}">contact_support</mat-icon>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                            </td>
                                            <td class="text-center">
                                                <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                            </td>
                                            <td class="text-center">
                                                <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Processing Charges
                                                <div class="float-right">
                                                    <span>&#8377;150</span>
                                                    <mat-icon [ngStyle]="{'color':'#3d66b0'}">contact_support</mat-icon>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                            </td>
                                            <td class="text-center">
                                                <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                            </td>
                                            <td class="text-center">
                                                <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>RTI Drafting Charges
                                                <div class="float-right">
                                                    <span>&#8377;100</span>
                                                    <mat-icon [ngStyle]="{'color':'#3d66b0'}">contact_support</mat-icon>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <mat-icon [ngStyle]="{'color':'#d20b0b'}">clear</mat-icon>
                                            </td>
                                            <td class="text-center">
                                                <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                            </td>
                                            <td class="text-center">
                                                <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Phone from RTI Expert
                                                <div class="float-right">
                                                    <span>&#8377;200</span>
                                                    <mat-icon [ngStyle]="{'color':'#3d66b0'}">contact_support</mat-icon>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <mat-icon [ngStyle]="{'color':'#d20b0b'}">clear</mat-icon>
                                            </td>
                                            <td class="text-center">
                                                <mat-icon [ngStyle]="{'color':'#d20b0b'}">clear</mat-icon>
                                            </td>
                                            <td class="text-center">
                                                <mat-icon [ngStyle]="{'color':'#3db04b'}">done</mat-icon>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Total</td>
                                            <td class="text-center">&#8377;199</td>
                                            <td class="text-center">&#8377;299</td>
                                            <td class="text-center">&#8377;499</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        GST Tax (18%) <button mat-raised-button color="primary">Apply Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <h4>FAQs</h4>
                            <div class="row mt-4">
                                <div class="col-12">
                                    <mat-accordion>
                                        <mat-expansion-panel (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    How will RTI Expert help you?
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <p>RTI Expert can understand your problem and suggest possible offices and questions you can ask to get information. They can also guide you on what cannot be asked under RTI and what are the best orders,laws,judgements and sections of the RTI Act to include to support your application. Using their help, you can send a strong RTI which makes your case compelling. This way the government officer is forced to reply and provide you with the information you are asking.</p>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    What is RTI drafting? Do I need it?
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <p>Yes, RTI drafting is required to get the exact information you are looking for. To create a strong application, you require knowledge of how the government offices work and what information they store and in which format. You also need to know the local laws, related judgments, govt. orders you can quote so that your request for information is not denied or ignored. RTI Drafting takes care of all of this so that it becomes easier for you to get your answers.</p>
                                        </mat-expansion-panel>
                                    </mat-accordion>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>