<section class="my-rti py-5">
    <div class="container">
        <!-- <div class="row mb-3">
            <div class="col-12">
                <h3>Hello {{username}},</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. </p>
            </div>
        </div> -->
        <div class="row mb-3">
            <div class="col-12">
                <h3>Your Applications</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="text-align: center;">S.No</th>
                                <th>Application</th>
                                <th>Tracking ID</th>
                                <th>Posted On</th>
                                <!-- <th>Updated On</th> -->
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of applyData; let i = index">
                                <td style="text-align: center;">{{i+1}}</td>
                                <td>{{data.serviceType | splitCamelcase | titlecase}}</td>
                                <td>{{data.applicationId}}</td>
                                <td>{{data.published_at | date }}</td>
                                <!-- <td>{{data.updatedAt | date}}</td> -->
                                <td><span class="status" [ngClass]="className(data.status)">{{data.status}}</span></td>
                                <td>
                                    <a mat-button routerLink="../details/{{data.serviceType}}/{{data.id}}">Details</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>