<section class="my-rti py-5">
    <div class="container">
        <div class="row mb-3">
            <div class="col-12">
                <h3>Hello {{username}},</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Your Applications</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Application</th>
                                <th>Posted On</th>
                                <th>Updated On</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of applyData; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{data.serviceType}}</td>
                                <td>{{data.published_at | date }}</td>
                                <td>{{data.updatedAt | date}}</td>
                                <td>{{data.status}}</td>
                                <td>
                                    <a mat-button (click)="seeDetails()">Details</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>