<form class="rit-details-form" [formGroup]="rtiDetailsForm">
    <div class="row">
        <div class="col-md-3 col-12">
            <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Name of Course" formControlName="course"
                required>
            </mat-form-field>
        </div>
        <div class="col-md-3 col-12">
            <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Name of College/University" formControlName="college"
                required>
            </mat-form-field>
        </div>
        <div class="col-md-3 col-12">
            <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Registration Roll No" formControlName="rollNo"
                required>
            </mat-form-field>
        </div>
        <div class="col-md-3 col-12">
            <mat-form-field appearance="fill">
                <mat-label>Year & Month of Exam</mat-label>
                <input matInput [matDatepicker]="dp" [formControl]="date" formControlName="year">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp
                                startView="multi-year"
                                (yearSelected)="chosenYearHandler($event)"
                                (monthSelected)="chosenMonthHandler($event, dp)"
                                panelClass="example-month-picker">
                </mat-datepicker>
              </mat-form-field>
            <!-- <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Year & Month of Exam" formControlName="year"
                required>
            </mat-form-field> -->
        </div>
        <div class="col-md-3 col-12">
            <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Regular/Supplementary" formControlName="regularSupplementary"
                required>
            </mat-form-field>
        </div>
        <div class="col-md-3 col-12">
            <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="College/University/Board
                Address" formControlName="collegeUniversityBoardAddress"
                required>
            </mat-form-field>
        </div>
        <div class="col-12">
            <mat-form-field class="example-full-width">
                <mat-label>More Information (optional)</mat-label>
                <textarea matInput style="resize: none;" formControlName="moreInfo"
                required></textarea>
            </mat-form-field>
        </div>
    </div>
</form>