<section class="container">
    <div class="row my-5">
        <div class="col-12">
            <div class="content-title">FAQs</div>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <ul>
                <li>
                    <h3>What is RTI?</h3>
                    <p>RTI stands for Right to Information. Right to Information Act, 2005 enables every citizen, to exercise his right, to obtain information from any Govt. Office in India. The fundamental object of the RTI Act is to bring transparency, accountability and make the nation corruption free. It also encourages every citizen in active participation in governmental activities.</p>
                </li>
                <li>
                    <h3>How do I use RTI?</h3>
                    <p>All you have to do is, you should file an RTI application in the Govt. Office from which you are seeking information.</p>
                </li>
                <li>
                    <h3>Who gives us information?</h3>
                    <p>Central Public Information Officer at Central Government Office and State Public Information Officers at State Government Offices will provide you the information which you requested.</p>
                </li>
                <li>
                    <h3>Is there a time limit for getting information?</h3>
                    <p>Yes, the CPIO/SPIO shall furnish you the information within 30 days from the date of receipt of your RTI application.</p>
                    <p>In case of information relating to life and liberty of any person, information shall be furnished within 48 hours.</p>
                </li>
                <li>
                    <h3>To whom the information will be sent?</h3>
                    <p>The CPIO/SPIO will send information directly to the address provided by you.</p>
                </li>
                <li>
                    <h3>Do you guarantee that the information will come?</h3>
                    <p>There should be no doubt about it. RTI Act, 2005 will not let the CPIO/SPIO to escape from their duties. CPIO/SPIO shall furnish you the information. Otherwise, they will be prosecuted under provisions of RTI Act, 2005.</p>
                </li>
                <li>
                    <h3>What we do for you?</h3>
                    <p>After you send your details on our website and pay the fee, our team will efficiently prepare your RTI application and send it on your behalf to the concerned office.</p>
                </li>
            </ul>
        </div>
    </div>
</section>