<section class="container">
    <div class="row my-5">
        <div class="col-12">
            <div class="content-title">Enquiry</div>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <form [formGroup]="queryDetailsForm">
                <div class="row mt-4">
                    <div class="col-md-7 col-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>Full name</mat-label>
                            <input matInput ngDefaultControl
                                formControlName="fullName" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-7 col-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" ngDefaultControl
                                formControlName="email">
                        </mat-form-field>
                    </div>
                    <div class="col-md-5 col-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>Mobile</mat-label>
                            <input matInput type="tel" ngDefaultControl
                                formControlName="mobile" maxlength="10" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>State</mat-label>
                            <input matInput type="text" formControlName="state"
                                ngDefaultControl required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>City</mat-label>
                            <input matInput type="text" formControlName="city"
                                ngDefaultControl required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>Pincode</mat-label>
                            <input matInput type="text" formControlName="pincode"
                                ngDefaultControl maxlength="6">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>Address</mat-label>
                            <textarea matInput style="resize: none;"
                                formControlName="address" ngDefaultControl></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-12 text-right">
                        <button mat-flat-button color="primary" (click)="onSubmitEnquirryForm(template)"
                                    [disabled]="queryDetailsForm.invalid">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
  <!-- Modal -->
  <ng-template #template>
    <div class="modal-body">
      <div class="row">
          <div class="col-12">
            <span class="text-success">{{success}}</span>
          </div>
      </div>
      <div class="row mt-3">
          <div class="col-12 text-center">
            <button type="button" class="btn btn-primary" aria-label="Close" (click)="close()">
                OK
              </button>
          </div>
      </div>
    </div>
  </ng-template>