<footer>
    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="assets/images/onlineRTI.png" alt="" style="max-width: 90px; margin-bottom: 15px;">
                <p>RTI Act has been made by legislation of Parliament of India on 15 June 2005. The Act came into effect on 12 October 2005 and has been implemented ever since to provide information to crores of Indian citizens.</p>
                <div class="social-links mb-4">
                    <img src="assets/svg/facebook.svg" alt="">
                    <img src="assets/svg/twitter.svg" alt="">
                    <img src="assets/svg/linkedin.svg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>
                        <a href="#">About RTI</a>
                    </li>
                    <li>
                        <a routerLink="pricing">Pricing</a>
                    </li>
                    <li>
                        <a routerLink="team">Team</a>
                    </li>
                    <li>
                        <a href="#">Forum</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-3">
                <h3>Contact</h3>
                support@onlinerti.com<br>
                9849012345<br>
                Bangalore
            </div>
        </div>
        <div class="row mt-4 mt-md-0">
            <div class="col-12 col-md-6">
                <p class="mb-0">Copyright © OnlineRTI 2021</p>
            </div>
        </div>
    </div>
</footer>