footer{
    color: #294358;
    padding: 15px 0;
    font-size: 14px;
    background-color: #dfdbcf;
    line-height: 26px;
    a{
        color: inherit;
        text-decoration: none;
    }
    h3{
        color: #3d66b0;
    }
    .social-links{        
        img{
            width: 28px;
            margin-right: 10px;
        }
    }
}