<footer>
    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="assets/images/onlineRTI.png" alt="" style="max-width: 90px; margin-bottom: 15px;">
                <p>RTI stands for Right to Information. Right to Information Act, 2005 enables every citizen, to exercise his right, to obtain information from any Govt. Office in India. </p>
                <div class="social-links mb-4">
                    <img src="assets/svg/facebook.svg" alt="">
                    <img src="assets/svg/twitter.svg" alt="">
                    <img src="assets/svg/linkedin.svg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>
                        <a href="#">About RTI</a>
                    </li>
                    <li>
                        <a routerLink="pricing">Pricing</a>
                    </li>
                    <li>
                        <a routerLink="team">Team</a>
                    </li>
                    <!-- <li>
                        <a href="#">Forum</a>
                    </li> -->
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-3">
                <h3>Contact</h3>
                helpfilingrti@gmail.com<br>
                7799004425<br>
                Vijayawada
            </div>
        </div>
        <div class="row mt-4 mt-md-0">
            <div class="col-12 col-md-6">
                <p class="mb-0">Copyright © OnlineRTI 2021</p>
            </div>
        </div>
    </div>
</footer>