<form class="rit-details-form" [formGroup]="rtiDetailsForm">
    <div class="row">
        <div class="col-md-3 col-12">
            <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Name of the applicant" formControlName="applicantName"
                required>
            </mat-form-field>
        </div>
        <div class="col-md-3 col-12">
            <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Application number" formControlName="applicationNo"
                required>
            </mat-form-field>
        </div>
        <div class="col-md-3 col-12">
            <mat-form-field class="example-full-width">
                <mat-label>Date of Application</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="applicationDate"
                required disabled>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-12">
            <mat-form-field class="example-full-width">
                <mat-label>More Information (optional)</mat-label>
                <textarea matInput style="resize: none;" formControlName="moreInfo"
                ></textarea>
            </mat-form-field>
        </div>
    </div>
</form>