<section class="my-rti py-5">
    <div class="container">
        <!-- <div class="row mb-3">
            <div class="col-12">
                <h3>Hello {{username}},</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. </p>
            </div>
        </div> -->
        <div class="row mb-3">
            <div class="col-12">
                <h3>All Applications</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="text-align: center;">S.No</th>
                                <th>Application</th>
                                <th>Tracking ID</th>
                                <th>Order ID</th>
                                <th>Posted On</th>
                                <!-- <th>Updated On</th> -->
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of applyData; let i = index">
                                <td style="text-align: center;">{{i+1}}</td>
                                <td>{{data.serviceType | splitHyphen }}</td>
                                <td>{{data.applicationId}}</td>
                                <td>{{data.orderId}}</td>
                                <td>{{data.published_at | date }}</td>
                                <!-- <td>{{data.updatedAt | date}}</td> -->
                                <td><span class="status" [ngClass]="className(data.status)">{{data.status}}</span> <img src="../../../assets/icons/edit.png" (click)="editStatus(data.id, template)" alt="Edit" title="Change Status" height="16" style="cursor: pointer; margin-left: 5px;"></td>
                                <td>
                                    <a mat-button routerLink="../details/{{data.serviceType}}/{{data.id}}">Details</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Update Status</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="editData">
        <form class="rit-details-form" [formGroup]="editApplyStatus">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <mat-form-field appearance="fill">
                        <mat-label>Update Status</mat-label>
                        <mat-select (selectionChange)="onChangeSelect($event)" formControlName="status">
                            <mat-option value="pending">Pending</mat-option>
                            <mat-option value="In Review">In Review</mat-option>
                            <mat-option value="In Progress">In Progress</mat-option>
                            <mat-option value="Closed">Closed</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-flat-button color="primary" matStepperNext (click)="onChangeStatus()"
                                            [disabled]="this.editApplyStatus.invalid"  class="ml-5">Save</button>
                </div>
            </div>
        </form>
    </div>
  </ng-template>