// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

// body{
//     font-family: 'Lato', sans-serif;
// }
html,
body {
    height: 100%;
}

body {
    // background-color: #293a4a;
    background-color: white;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.carousel-control {
    display: none;
}

.page-title {
    font-size: 32px;
    color: #3d66b0;
    text-align: center;
}

.static-banner {
    color: white;

    .title {
        font-weight: 600;
        font-size: 42px;
        margin-top: 30px;
    }
}

.content-title {
    font-size: 22px;
    color: #3d66b0;
    text-align: center;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

ul,
li {
    list-style: none;
    padding-left: 0;
}

.error-message {
    color: white;
    background: red;
    padding: 0 10px;
}

.table {

    td,
    th {
        white-space: nowrap;
        vertical-align: middle;
    }

}

section {
    h2 {
        font-size: 22px;
        padding-bottom: 20px;
        font-weight: 500;
        letter-spacing: 0.5px;
        color: #095cf2;
    }
}
.link-text{
    cursor: pointer;
    color: #095cf2;
}
.service-opt {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    .service-icon {
        background: url(assets/icons/services-bg.png) left top no-repeat;
        width: 140px;
        height: 146px;
        position: relative;
        margin: 0 auto;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    .service-text {
        color: white;
        font-size: 20px;
        margin-top: 10px;
        font-weight: 500;
    }
}

.btn {
    &.btn-primary {
        &.arrow {
            // background-image: url(assets/icons/arrow-right.png);
            // background-repeat: no-repeat;
            // background-position: calc(100% - 10px) center;
            // background-size: 22px auto;
            // padding-right: 42px;
        }
    }
}

.form-control {
    border: 0 none;
}

.font-white {
    color: white;
}

.slider-content {
    &.blue-bg {
        .mat-form-field-appearance-legacy {
            .mat-form-field-underline {
                background-color: white
            }

            .mat-form-field-label {
                color: white;
            }
        }

        .forgot-password {
            color: white;
        }

        input.mat-input-element {
            color: white;
        }

        .banner-login-form {
            .mat-form-field {
                &.mat-focused {
                    .mat-form-field-label {
                        color: white;
                    }
                }
            }
        }
    }
}
.cdk-overlay-container{
    z-index: 1099;
}
.mat-horizontal-content-container h2 {
    text-transform: uppercase;
    border-bottom: 3px solid;
}
.basic{
    tr{
        td{
            &:nth-child(2){
                background-color: #095cf2;
                color: white !important;
            }
        }
    }
}
.premium{
    tr{
        td{
            &:nth-child(4){
                background-color: #095cf2;
                color: white !important;
            }
        }
    }
}
.standard{
    tr{
        td{
            &:nth-child(3){
                .mat-radio-outer-circle,
                .mat-radio-inner-circle{
                    background-color: white !important;
                }
                background-color: #095cf2;
                color: white !important;
            }
        }
    }
}
 .radio-btn{
    .mat-radio-container{
        display: block !important;
    }
    .mat-radio-button{
        display: table;
        margin: 0 auto;
    }
 }
.choose-service {
    .mat-radio-button {
        margin-bottom: 25px;
        &.active{
            .mat-radio-label {
                background-color: rgba(9,92,242,.28);
            }
        }
    }

    .mat-radio-label {
        background-color: #ececec;
        text-align: center;
        border-radius: 5px;
        height: 150px;
        &:hover{
            background-color: rgba(9,92,242,.28);
        }
    }

    .mat-radio-label-content {
        white-space: break-spaces;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        padding: 0;
        width: 75%;
    }
}

.slider-content {
    &.white-bg {
        .mat-form-field {
            width: 100%;
        }

        .mat-form-field-appearance-legacy {
            .mat-form-field-underline {
                background-color: #294358
            }

            .mat-form-field-label {
                color: #294358;
            }
        }
    }
}

.mat-form-field {
    font-size: 15px;
}

.mat-flat-button {
    &.mat-primary {
        background-color: #007bff;

        &.arrow {
            // background-image: url(assets/icons/arrow-right.png);
            // background-repeat: no-repeat;
            // background-position: calc(100% - 10px) center;
            // background-size: 22px auto;
            // padding-right: 42px;
        }
    }
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
    border: 1px solid #095cf2
}

.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
    background: red;
}

.mat-content {
    // color: #fff46d;
    flex-direction: row-reverse;
}

.example-action-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    // color: yellow;
}

.example-full-width {
    width: 100%;
}

.mat-radio-button~.mat-radio-button {
    // margin-left: 50px;
}
.select-field{
    .mat-form-field{
        width: 100%;
    }
    .mat-form-field-flex{
        padding: 0 !important;
    }
}
.mat-radio-container {
    display: none !important;
}

.pricing {
    label {
        margin: 0;
    }
}

.mat-card-header-text {
    margin: 0 !important;
    margin-top: 15px !important;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.mat-expansion-panel-header-description {
    margin-right: 0 !important;
}

.ngx-json-viewer {
    font-size: 14px !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;

    .segment {
        margin: 0 !important;

        .segment-main {
            .segment-value {
                display: block !important;
                color: #000 !important;
            }

            .segment-key {
                font-weight: 500 !important;
                color: #000 !important;
            }

            .segment-separator {
                display: none;
            }
        }
    }
}

.mat-step-label {
    font-size: 18px;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent !important
}
.mat-form-field-appearance-fill .mat-form-field-flex{
    padding: 0 !important;
}
.mat-step-label-selected {
    font-size: 18px;
    font-weight: 600;
    color: #095cf2 !important;

}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: #095cf2;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #095cf2 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #095cf2 !important;
}

.mat-stepper-horizontal,
.mat-stepper-vertical {
    background-color: #f1f1f1;
}

.mat-horizontal-stepper-header-container {
    display: none !important;
}

.mat-step-header {
    width: 33.33%;
    border-right: 5px solid rgba(0, 0, 0, 0.04);
}

.mat-stepper-horizontal-line {
    display: none;
}

[ng-reflect-selected="true"] {
    background-color: rgba(0, 0, 0, .04);
}

.mat-horizontal-content-container {
    // background-color: rgba(0,0,0,.04);
    background-color: #FFF;
}

.mat-horizontal-stepper-header {
    pointer-events: none !important;
}

.mat-flat-button {
    &.mat-primary {
        background-color: #294358;

        &.mat-button-disabled {
            background-color: rgba(41, 66, 87, .12);
        }

        span {
            font-weight: 300;
        }
    }
}
@media (max-width: 576px) {
    .carousel-inner {
        min-height: 95px;
    }
}